<div class="relative px-5 py-6 flex flex-col items-center rounded-2xl group border
  border-BlueStroke overflow-hidden shadow-v2 transition-all
  hover:border-Blue bg-white @@Style">
  <div class="mb-6 flex items-center justify-center min-h-[60px]">
    <i class="@@Icon"></i>
  </div>
  <div class="w-full h-0 group-hover:h-[28px] duration-400 overflow-hidden transition-all flex items-start justify-center">
    <span class="border-b-4 border-Yellow w-[60px] block rounded"></span>
  </div>
  <div class="flex flex-col items-center">
    <span class="text-center text-Top3 text-TitleText font-semibold block mb-3">@@Title</span>
    <p class="text-center text-body2 text-BodyText">@@Text</p>
  </div>
</div>
