<div class="relative p-6 h-full rounded-2xl border border-BlueStroke overflow-hidden shadow-v2 transition-all hover:border-Blue @@Style">
  <span class="absolute top-0 left-6 bg-Yellow p-4 min-w-14 text-white rounded-t-none rounded-b-lg italic text-Top1 font-medium">01</span>
  <div class="mt-[72px] flex flex-col gap-y-3">
    <span class="text-Top2 font-semibold block text-TitleText">100% Free & Easy to Use</span>
    <p class="text-BodyText">No hidden fees, no complicated setup—just seamless, hassle-free document signing. Whether you're an individual or a business, enjoy the full power of eSigning without paying a dime.</p>
  </div>
</div>