<section class="section @@StyleBg">
  <div class="container">
    <div class="row gap-x-5 lg:gap-x-0">
      <div class="col-span-5 lg:hidden">
        <div class="flex items-center w-full h-full justify-center rounded-2xl overflow-hidden">
          <img class="w-full h-full object-cover" src="img/Questions-img.png" alt="Tell us Any Questions!">
        </div>
      </div>
      <div class="col-span-7 lg:col-span-12">
        <div class="flex flex-col pl-[36px] lg:pl-0">
         <div id="wrapperForm" class="flex flex-col">
           @@include('Title-block.html', {
           'Style1': 'lg:text-Top5',
           'Title1': 'Tell us ',
           'Style2': '',
           'Title2': 'Any Questions!',
           })
           <p class="mt-5">We provide best service for our customer check the list now.</p>
           <div class="lg:mt-6 lg:pt-5 lg:pb-6 lg:px-4 lg:border lg:border-BlueStroke lg:bg-white rounded-2xl">
             <div class="flex items-center w-full max-h-[350px] sm:max-h-[250px] minlg:hidden justify-center rounded-2xl overflow-hidden">
               <img class="w-full h-full object-cover" src="img/Questions-img.png" alt="Tell us Any Questions!">
             </div>
             <form id="contactForm" class="row gap-4 mt-6 sm:gap-x-0">
               <div class="col-span-6 sm:col-span-12">
                 @@include('input.html', {
                 'common-style': '',
                 'StyleLabel': 'text-none hidden',
                 'idInput': 'nameId',
                 'label': 'Full name',
                 'styleInput': '',
                 'type': 'text',
                 'placeholder': 'Full name',
                 'errorStyle': 'hidden',
                 'name': 'name',
                 })
               </div>
               <div class="col-span-6 sm:col-span-12">
                 @@include('input.html', {
                 'common-style': '',
                 'StyleLabel': 'text-none hidden',
                 'idInput': 'phoneId',
                 'label': 'Phone Number',
                 'styleInput': '',
                 'type': 'text',
                 'placeholder': 'Phone Number',
                 'errorStyle': 'hidden',
                 'name': 'phone',
                 })
               </div>
               <div class="col-span-6 sm:col-span-12">
                 @@include('input.html', {
                 'common-style': '',
                 'StyleLabel': 'text-none hidden',
                 'idInput': 'EmailId',
                 'label': 'Email',
                 'styleInput': '',
                 'type': 'email',
                 'placeholder': 'Email',
                 'errorStyle': 'hidden',
                 'name': 'email',
                 })
               </div>
               <div class="col-span-6 sm:col-span-12">
                 @@include('input.html', {
                 'common-style': '',
                 'StyleLabel': 'text-none hidden',
                 'idInput': 'SubjectId',
                 'label': 'Subject',
                 'styleInput': '',
                 'type': 'text',
                 'placeholder': 'Subject',
                 'errorStyle': 'hidden',
                 'name': 'subject',
                 })
               </div>
               <div class="col-span-12">
                 @@include('textarea.html', {
                 'commonStyle': '',
                 'idTextarea': 'MessageId',
                 'label': 'Message',
                 'StyleLabel': 'hidden',
                 'styleTextarea': '',
                 'placeholder': 'Message',
                 'rows': '3',
                 'name': 'message',
                 })
               </div>
               <div class="col-span-12">
                 @@include('button.html', {
                 'style': 'mt-2',
                 'type': 'submit',
                 'ariaLabel': 'button',
                 'title': 'Submit Now',
                 })
               </div>
             </form>
           </div>
         </div>
          <div id="thankYouMessage" class="hidden lg:pt-5 lg:pb-6 lg:px-4 lg:border lg:border-BlueStroke lg:bg-white rounded-2xl">
            @@include('Title-block.html', {
            'Style1': 'lg:text-Top5',
            'Title1': 'Thank you for ',
            'Style2': '',
            'Title2': 'Contacting!',
            })
            <p class="mt-5 lg:mt-4">We will contact you with a few minutes for answering questions you need.</p>
            <img class="max-w-full mt-6" src="img/ty-img.svg" alt="Thank you for Contacting!">
            <button id="returnForm" class="button group mt-6" type="button" aria-label="button">
              <span class="mr-[10px]">Return to the Form</span>
              <svg class="group-hover:rotate-[45deg] transition-all" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                <path d="M4.00001 0C3.63182 0 3.33334 0.298477 3.33334 0.666667C3.33334 1.03486 3.63181 1.33333 4 1.33333H7.72667L0.469997 8.59C0.210425 8.84958 0.210424 9.27043 0.469995 9.53C0.729567 9.78957 1.15042 9.78957 1.40999 9.53L8.66667 2.27333V6C8.66667 6.36819 8.96514 6.66667 9.33333 6.66667C9.70152 6.66667 10 6.36819 10 6V0H4.00001Z" fill="white"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
@@include('Footer.html')