.Referral-Program {
  background: url("../img/icons/Referral-Program.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Secure {
  background: url("../img/icons/Secure.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Effortless-Signing {
  background: url("../img/icons/Effortless-Signing.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.User-Friendly {
  background: url("../img/icons/User-Friendly.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Track-Manage {
  background: url("../img/icons/Track-Manage.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Online-Support {
  background: url("../img/icons/Online-Support.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Special-Discount {
  background: url("../img/icons/Special-Discount.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Exclusive-Deals {
  background: url("../img/icons/Exclusive-Deals.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Personal-Offers {
  background: url("../img/icons/Personal-Offers.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Partner-Perks {
  background: url("../img/icons/Partner-Perks.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Support {
  background: url("../img/icons/Support.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Partnership {
  background: url("../img/icons/Partnership.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.customer-notifications {
  background: url("../img/icons/customer-notifications.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.financial-statements {
  background: url("../img/icons/financial-statements.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.compliance-letters {
  background: url("../img/icons/compliance-letters.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.personalized-correspondence {
  background: url("../img/icons/personalized-correspondence.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.business-communications {
  background: url("../img/icons/business-communications.svg");
  @apply block h-[60px] w-[60px] bg-100-auto bg-center bg-no-repeat;
}

.Sign-Up {
  background: url("../img/icons/Sign-Up.svg");
  @apply block h-[40px] w-[40px] bg-100-auto bg-center bg-no-repeat;
}

.Offers {
  background: url("../img/icons/Offers.svg");
  @apply block h-[40px] w-[40px] bg-100-auto bg-center bg-no-repeat;
}

.Saving-Documents {
  background: url("../img/icons/Saving-Documents.svg");
  @apply block h-[40px] w-[40px] bg-100-auto bg-center bg-no-repeat;
}

.Join {
  background: url("../img/icons/Join.svg");
  @apply block h-[40px] w-[40px] bg-100-auto bg-center bg-no-repeat;
}

.Message {
  background: url("../img/icons/Message.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Phone {
  background: url("../img/icons/Phone.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Time {
  background: url("../img/icons/Time.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Location {
  background: url("../img/icons/Location.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.User {
  background: url("../img/icons/User.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Lock {
  background: url("../img/icons/Lock.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Calendar {
  background: url("../img/icons/Calendar.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Office {
  background: url("../img/icons/Office.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Zip {
  background: url("../img/icons/zip.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}

.Time-yellow {
  background: url("../img/icons/Time-yellow.svg");
  @apply block h-[20px] w-[20px] bg-100-auto bg-center bg-no-repeat;
}