// Footer Style Start
// Footer Style End

// Blog Card Style Start
// Blog Card Style End

// Button with arrow Style Start

.button {

  &.width-full {
    @apply w-full;
  }

  &.width-auto {
    @apply min-w-[0px]
  }

  @apply h-12 min-h-12 px-8 min-w-[137px] w-fit flex items-center justify-center rounded-4xl text-white text-body text-center font-semibold lg:font-medium bg-Blue transition-all hover:bg-TitleText;
}

// Button with arrow Style End

// Checkbox Style Start
// Checkbox Style End

// Pagination Style Start
// Pagination Style End

// FAQ Style Start
// FAQ Style End

// Splide slider Start
// Splide slider End

// Text Block Style Start
// Text Block Style End

.bg-gradient-main {
  background: linear-gradient(0deg, rgba(5, 9, 62, 0.40) 0%, rgba(5, 9, 62, 0.40) 100%);
}

.main-title {
  @apply text-h2 font-bold md:text-h2Mob
}

.section {
  @apply py-14 lg:py-10
}

.Border-wave {
  background: url("../img/icons/Border-wave.svg") repeat-x center;
  background-size: 41px 10px;
  display: block;
  width: 100%;
  height: 10px;
}

// Text Content Start
.text-content {

  p {
    @apply text-base md:text-body -tracking-018 text-BodyText font-medium
  }

  ol {
    @apply list-decimal text-base -tracking-018 text-BodyText font-medium pl-6
  }

  ul {
    @apply list-disc text-base -tracking-018 text-BodyText font-medium pl-6
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-bold mb-4 block
  }
}

.text-content--tou {
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply text-BodyText font-semibold
  }
}
// Text Content End

//
.active-tag {

  span {
    @apply text-Blue font-semibold
  }

  @apply border-Blue
}
//

.alphabet-list > div {
  max-width: calc(25% - 24px);
  width: 100%;

  @media (max-width: 1023.98px) {
    max-width: calc(33% - 20px);
  }

  @media (max-width: 767.98px) {
    max-width: calc(50% - 16px);
  }

  @media (max-width: 639.98px) {
    max-width: 100%;
  }
}

.checkboxes-alphabet-list {
  overflow: inherit;

  input {
    @apply hidden
  }

  label {
    @apply w-10 min-w-10 h-10 flex items-center justify-center border border-Blue rounded-full overflow-hidden bg-white cursor-pointer
  }

  .swiper-slide {
    width: auto;
  }

  @apply flex flex-wrap gap-2 mx-auto w-full justify-center mt-10
}

.checkboxes-alphabet-list label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxes-alphabet-list label.bg-blue-500 {
  background-color: #32CDD7; /* Синий фон при активации */
  border-color: #32CDD7;
  color: #fff;
}

/* Стиль для отключенных кнопок */
.checkboxes-alphabet-list input:disabled + span {
  background-color: #F9FBFF; /* Серый фон для отключенной кнопки */
  color: #05093E1A; /* Текст серого цвета */
  cursor: not-allowed;
}

// Pagination Start

.pagination-button {
  &--disabled {
    @apply bg-transparent
  }

  @apply w-12 h-12 min-w-12 flex items-center justify-center rounded-full overflow-hidden border text-none bg-Blue disabled:bg-transparent hover:cursor-pointer
}

// Pagination End

.inactive-tag {
  span {
    @apply text-BodyText font-medium
  }

  @apply border-Blue
}

// swiper Start

//.swiper {
//  max-width: 100%;
//}

.swiper-custom.swiper {
  overflow: visible;
  width: 100%;
  padding-bottom: 25px;
}

.swiper-custom.swiper .swiper-slide {
  width: auto;
  height: auto;
}

.swiper-custom {
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -10px;
  }

  .swiper-pagination-bullets-dynamic {
    overflow: visible;
  }

  .swiper-pagination-bullet {
    @apply w-6 h-6 lg:w-[8px] lg:h-[8px] opacity-100 bg-BlueStroke
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(1);
  }

  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next,
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(1);
  }

  .swiper-pagination-bullet-active {
    @apply bg-Blue w-[28px] rounded
  }

  .swiper-button-prev:after, .swiper-button-next:after {
    display: none;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-arrow {
    .swiper-button-icon {
      width: auto;
      height: auto;
    }

    .swiper-button-icon--grey {
      @apply hidden
    }

    .swiper-button-icon--white {
      @apply block
    }

    &.swiper-button-disabled {
      @apply opacity-100 border bg-transparent
    }
    @apply w-12 h-12 rounded-full flex justify-center items-center overflow-hidden bg-Blue
  }

  .swiper-button-arrow.swiper-button-disabled {
    .swiper-button-icon--grey {
      @apply block
    }

    .swiper-button-icon--white {
      @apply hidden
    }
  }
}

.condition-swiper {
  overflow: inherit;

  .swiper-slide {
    height: auto;
  }

  @media (max-width: 639.98px) {
    .swiper-slide {
      width: auto;
    }
  }
}

.swiper-zoom-container {
  img {
    @apply hover:cursor-zoom-in
  }
}

.gallery-swiper-big {

  .swiper-slide {
    @apply rounded-6xl overflow-hidden border border-Blue flex justify-center items-center
  }

  img {
    @apply object-center object-cover max-h-[448px] bg-white
  }
}

.gallery-swiper {
  .swiper-slide {
    @apply rounded-2xl overflow-hidden border border-Blue flex justify-center items-center cursor-pointer
  }

  img {
    @apply object-center object-cover max-h-[448px] bg-white
  }
}

.swiper-blog {
  overflow: inherit;

  .swiper-slide {
    height: auto;
  }

  @media (max-width: 1023.98px) {
    .swiper-slide {
      width: auto;
    }
  }
}

.swiper-brands {

  @media (max-width: 1023.98px) {
    overflow: inherit;

    .swiper-slide {
      width: auto;
    }
  }


  @apply px-2 -mx-2
}
// swiper End

//Other
.hero-bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(5, 9, 62, 0.50) 0%, rgba(5, 9, 62, 0.50) 100%);
}

.top-line {
  @apply relative
}

.top-line:before {
  content: '';
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
  border-right: 1px solid #05093E1A;
  height: 20px;
  display: block;

  @apply lg:-right-2
}

.w-text {
  max-width: calc(100% - 40px);
}

.menu-item-active {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    display: block;
    border-bottom: 2px solid #3D65FF;
  }
}

.consultation-list {
  .consultation-list__item:not(:last-child) {
    padding-bottom: 32px;
    border-bottom: 1px solid #05093E1A;
    margin-bottom: 24px;
  }
}

.mobile-menu {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  @apply fixed -left-full top-[90px] lg:top-[81px] z-[97] bg-Stroke minlg:hidden;
}

.mobile-menu.active {
  left: 0;
  overflow-y: scroll;
}